# Build outputs
out/
build/
*.iso
*.tar.gz

# Work directories
aimos-work/
/tmp/

# Go
go-daemons/build/
*.exe

# Go binaries
go-daemons/network-daemon
go-daemons/power-daemon
go-daemons/sensor-daemon

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
iso-profile/airootfs/etc/locale.gen

# C# build artifacts
csharp-apps/**/bin/
csharp-apps/**/obj/


# Python cache
**/__pycache__/
**/*.pyc
**/*.py.save
**/*.py.save.*
kernel-modules/aimos_scheduler/*.ko
kernel-modules/aimos_scheduler/*.o
kernel-modules/aimos_scheduler/*.cmd
kernel-modules/aimos_scheduler/*.mod
kernel-modules/aimos_scheduler/*.mod.c
kernel-modules/aimos_scheduler/Module.symvers
kernel-modules/aimos_scheduler/modules.order

# Kernel module build artifacts
kernel-modules/**/*.cmd
kernel-modules/**/.*.cmd
kernel-modules/**/*.o
kernel-modules/**/*.ko
kernel-modules/**/*.mod
kernel-modules/**/*.mod.c
kernel-modules/**/Module.symvers
kernel-modules/**/modules.order
