# Build outputs
out/
build/
*.iso
*.tar.gz

# Work directories
aimos-work/
/tmp/

# Go
go-daemons/build/
*.exe

# Go binaries
go-daemons/network-daemon
go-daemons/power-daemon
go-daemons/sensor-daemon

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
iso-profile/airootfs/etc/locale.gen

# C# build artifacts
csharp-apps/**/bin/
csharp-apps/**/obj/


# Python cache
**/__pycache__/
**/*.pyc
**/*.py.save
**/*.py.save.*
